.form {
    width: 100%;
    display: flex;
    font-family: 'Font',sans-serif;
    flex-direction: column;
    min-height: 200px;
    align-items: center;
}

.form h1 {
    font-size: calc(17px + 10 * (100vw / 1280));
}