:root {
    --imageSize: 40px;
    --imageLeft: 40px;
    --triangle: 10px;
}

.site {
    width: 450px;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
}

.center:hover {
    background-image: linear-gradient(#512B81bf, #35155Dbf);
    color: #8CABFF;
}

.center:hover .nameSite {
    text-decoration: underline;
}

.site:hover .center {
    border-top: 2px solid #4477CE;
    border-bottom: 2px solid #4477CE;
}

.site:hover .triangleDown {
    border-top: var(--triangle) solid #4477CE;
}

.site:hover .triangleUp {
    border-bottom: var(--triangle) solid #4477CE;
}

.triangleUp {
    width: 0;
    height: 0;
    border-left: var(--triangle) solid transparent;
    border-right: var(--triangle) solid transparent;
    border-bottom: var(--triangle) solid #8CABFF;
}

.triangleDown {
    width: 0;
    height: 0;
    border-left: var(--triangle) solid transparent;
    border-right: var(--triangle) solid transparent;
    border-top: var(--triangle) solid #8CABFF;
}

.center {
    width: 100%;
    height: 100%;
    font-family: Arial;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
    border-top: 3px solid #35155D;
    border-bottom: 3px solid #35155D;
    background-color: #ffffffbf;
}

.infoBlock {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 7% 40% 23% 15% 20%;
    padding: 0 10%;
}

.imageStatusKingVip {
    background-image: url('../../images/kingvip.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 100%;
}

.imageStatusSuperVip {
    background-image: url('../../images/supervip.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.imageStatusVip {
    background-image: url('../../images/vip.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.imageStatusPremiumStandart {
    background-image: url('../../images/premiumStandart.png');
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.version {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    font-size: 10px;
    align-items: center;
}

.difficulty {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 45px;
    font-size: 10px;
}

.nameSite {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 5px;
    font-size: 15px;
}

.date {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 5px;
    font-size: 10px;
}

@media screen and (max-width: 3000px) and (min-width: 2400px) {
     :root {
        --imageSize: 60px;
        --triangle: 20px;
    }
    .site {
        width: 900px;
        margin-top: 30px;
        margin-bottom: 30px;
        height: 100px;
    }
    .nameSite {
        font-size: 30px;
    }
    .date {
        font-size: 25px;
    }
    .version {
        font-size: 25px;
    }
    .difficulty {
        font-size: 25px;
    }
}

@media screen and (max-width: 2000px) {
    .site {
        margin-top: 5px;
        margin-bottom: 5px;
        height: 65px;
    }
    .nameSite {
        font-size: 15px;
    }
    .date {
        font-size: 10px;
    }
    .version {
        font-size: 10px;
    }
    .difficulty {
        font-size: 10px;
    }
}

@media screen and (max-width: 1370px) {
     :root {
        --triangle: 15px;
        --imageSize: 50px;
        --imageLeft: 50px;
    }
    .site {
        width: 80%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .nameSite {
        font-size: 25px;
    }
    .date {
        font-size: 20px;
    }
    .version {
        font-size: 20px;
    }
    .difficulty {
        font-size: 20px;
    }
}

@media screen and (max-width: 900px) {
     :root {
        --imageSize: 30px;
        --triangle: 10px;
    }
    .site {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
        height: 65px;
    }
    .nameSite {
        font-size: 20px;
    }
    .difficulty {
        font-size: 15px;
    }
    .version {
        font-size: 15px;
    }
    .date {
        font-size: 15px;
    }
}

@media screen and (max-width: 500px) {
     :root {
        --imageSize: 30px;
        --imageLeft: 25px;
        --triangle: 10px;
    }
    .site {
        width: 100%;
        height: 50px;
    }
    .infoBlock {
        grid-template-columns: 5% 35% 25% 15% 20%;
    }
    .nameSite {
        font-size: 10px;
    }
    .difficulty {
        font-size: 8px;
    }
    .version {
        font-size: 8px;
    }
    .date {
        font-size: 8px;
    }
}