.site {
    width: 100%;
    height: 5vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.triangleUp {
    width: 0;
    height: 0;
    border-left: 0.8vw solid transparent;
    border-right: 0.8vw solid transparent;
    border-bottom: 0.8vw solid #8CABFF;
}

.center {
    width: 80%;
    height: 50%;
    clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
    background-color: #ffffffbf;
    border-bottom: 2px solid #35155D;
    border-top: 2px solid #35155D;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #35155D;
}

.triangleDown {
    width: 0;
    height: 0;
    border-left: 0.8vw solid transparent;
    border-right: 0.8vw solid transparent;
    border-top: 0.8vw solid #8CABFF;
}

.infoBlock {
    height: 100%;
    width: 80%;
    display: grid;
    align-items: center;
    grid-template-columns: 10% 40% 10% 20% 20%;
}

.infoBlock * {
    font-family: 'Manrope';
    font-size: 0.8vw;
}

.infoBlock h2 {
    font-size: 1vw;
}

.imageStatusKingVip {
    background-image: url('../../images/kingVip.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 100%;
}

.imageStatusSuperVip {
    background-image: url('../../images/superVip.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.imageStatusVip {
    background-image: url('../../images/vip.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.imageStatusPremium {
    background-image: url('../../images/premium.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.imageStatusStandart {
    background-image: url('../../images/standart.png');
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    height: 100%;
    width: auto;
}

.center:hover {
    background-image: linear-gradient(#512B81bf, #35155Dbf);
    color: #8CABFF;
}

.center:hover .nameSite {
    text-decoration: underline;
}

.site:hover .center {
    border-top: 2px solid #4477CE;
    border-bottom: 2px solid #4477CE;
}

.site:hover .triangleDown {
    border-top: var(--triangle) solid #4477CE;
}

.site:hover .triangleUp {
    border-bottom: var(--triangle) solid #4477CE;
}


@media screen and (max-width: 1300px) {
    .site {
        height: 5vw;
    }
    .infoBlock * {
        font-family: 'Manrope';
        font-size: 50%;
    }
    
    .infoBlock h2 {
        font-size: 70%;
    }
    .imageStatusKingVip {
        height: 100%;
        width: 50%;
    }
    
    .imageStatusSuperVip {
        height: 100%;
        width: 50%;
    }
    
    .imageStatusVip {
        height: 100%;
        width: 50%;
    }
    
    .imageStatusPremium {
        height: 100%;
        width: 50%;
    }
    .imageStatusStandart {
        height: 100%;
        width: 50%;
    }
}
@media screen and (orientation: portrait) {
    .site {
        height: 6vh;
    }
    .infoBlock * {
        font-family: 'Manrope';
        font-size: 50%;
    }
    .infoBlock h2 {
        font-size: 70%;
    }

    .imageStatusKingVip {
        height: 100%;
        width: 80%;
    }
    
    .imageStatusSuperVip {
        height: 100%;
        width: 80%;
    }
    
    .imageStatusVip {
        height: 100%;
        width: 80%;
    }
    
    .imageStatusPremium {
        height: 100%;
        width: 80%;
    }
    .imageStatusStandart {
        height: 100%;
        width: 80%;
    }
}