:root {
    --imageSize: 40px;
    --imageLeft: 40px;
    --triangle: 10px;
}

.site {
    width: 500px;
    height: 75px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
}

.center:hover {
    background-image: linear-gradient(#512B81bf, #35155Dbf);
    color: #8CABFF;
}

.center:hover .nameSite {
    text-decoration: underline;
}

.site:hover .center {
    border-top: 2px solid #4477CE;
    border-bottom: 2px solid #4477CE;
}

.site:hover .triangleDown {
    border-top: var(--triangle) solid #4477CE;
}

.site:hover .triangleUp {
    border-bottom: var(--triangle) solid #4477CE;
}

.triangleUp {
    width: 0;
    height: 0;
    border-left: var(--triangle) solid transparent;
    border-right: var(--triangle) solid transparent;
    border-bottom: var(--triangle) solid #8CABFF;
}

.triangleDown {
    width: 0;
    height: 0;
    border-left: var(--triangle) solid transparent;
    border-right: var(--triangle) solid transparent;
    border-top: var(--triangle) solid #8CABFF;
}

.center {
    width: 100%;
    height: 100%;
    font-family: Arial,sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
    border-top: 3px solid #35155D;
    border-bottom: 3px solid #35155D;
    background-color: #ffffffbf;
}

.infoBlock {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 10% 30% 25% 17% 20%;
    padding: 0 10%;
}

.imageStatusKingVip {
    background-image: url('../../images/kingVip.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: calc(35px + 1 * (100vw / 1280));
    height: calc(35px + 1 * (100vw / 1280));
}

.imageStatusSuperVip {
    background-image: url('../../images/superVip.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: calc(35px + 1 * (100vw / 1280));
    height: calc(35px + 1 * (100vw / 1280));
}

.imageStatusVip {
    background-image: url('../../images/vip.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: calc(35px + 1 * (100vw / 1280));
    height: calc(35px + 1 * (100vw / 1280));
}

.imageStatusPremium {
    background-image: url('../../images/premium.png');
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    width: calc(35px + 1 * (100vw / 1280));
    height: calc(35px + 1 * (100vw / 1280));
}

.imageStatusStandart {
    background-image: url('../../images/standart.png');
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    width: calc(35px + 1 * (100vw / 1280));
    height: calc(35px + 1 * (100vw / 1280));
}
.version {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    font-size: calc(13px + 1 * (100vw / 1280));
    align-items: center;
    word-wrap: break-word;
    font-family: 'Manrope',sans-serif;
}

.difficulty {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 35px;
    font-size: calc(13px + 1 * (100vw / 1280));
    word-wrap: break-word;
    font-family: 'Manrope',sans-serif;
}

.nameSite {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 5px;
    font-size: calc(14px + 1 * (100vw / 1280));
    word-wrap: break-word;
}

.date {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 5px;
    font-size: calc(12px + 1 * (100vw / 1280));
    word-wrap: break-word;
    font-family: 'Manrope',sans-serif;
}

@media screen and (max-width: 3000px) and (min-width: 2400px) {
     :root {
        --imageSize: 60px;
        --triangle: 20px;
    }
    .site {
        width: 900px;
        margin-top: 30px;
        margin-bottom: 30px;
        height: 100px;
    }
}

@media screen and (max-width: 2000px) {
    .site {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 2000px) and (orientation: portrait) {
    .site {
        height: 125px;
    }
     :root {
        --triangle: 25px;
    }
    .site * {
        font-size: calc(35px + 1 * (100vh / 1280));
    }
    .nameSite {
        font-size: calc(40px + 1 * (100vh / 1280));
    }
}

@media screen and (max-width: 1500px) and (orientation: portrait) {
    .site {
        height: 80px;
    }
    .site * {
        font-size: calc(20px + 1 * (100vh / 1280));
    }
    .site .nameSite {
        font-size: calc(25px + 1 * (100vh / 1280));
    }
}

@media screen and (max-width: 1370px) {
     :root {
        --triangle: 15px;
        --imageSize: 50px;
        --imageLeft: 50px;
    }
    .infoBlock {
        grid-template-columns: 5% 40% 25% 15% 20%;
    }
    .site {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .nameSite {
        margin-left: 20px;
    }
}

@media screen and (max-width: 900px) {
     :root {
        --imageSize: 30px;
        --triangle: 10px;
    }

}

@media screen and (max-width: 700px) {
    .site {
        height: 60px;
    }
}

@media screen and (max-width: 500px) {
     :root {
        --imageSize: 30px;
        --imageLeft: 25px;
        --triangle: 10px;
    }
    .site {
        height: 50px;
    }
    .infoBlock {
        grid-template-columns: 5% 35% 25% 15% 20%;
    }
    .nameSite{
        margin-left: 25px;
    }
}

@media screen and (max-width: 840px) and (orientation: portrait) {
    .site * {
        font-size: calc(15px + 1 * (100vh / 1280));
    }
    .site .nameSite {
        font-size: calc(15px + 1 * (100vh / 1280));
    }
}


@media screen and (max-width: 800px) and (orientation: portrait) {
    .infoBlock {
        grid-template-columns: 5% 30% 25% 20% 20%;
    }
    .site * {
        font-size: calc(15px + 1 * (100vh / 1280));
    }
    .site .nameSite {
        font-size: calc(15px + 1 * (100vh / 1280));
    }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
    .infoBlock {
        grid-template-columns: 5% 30% 25% 20% 20%;
    }
    .site * {
        font-size: calc(14px + 1 * (100vh / 1280));
    }
    .site .nameSite {
        font-size: calc(14px + 1 * (100vh / 1280));
    }
}

@media screen and (max-width: 540px) and (orientation: portrait) {
    .difficulty {
        margin-left: 10px;
    }
    .site {
        height: 55px;
        width: 100%;
    }
}

@media screen and (max-width: 440px) and (orientation: portrait) {
    .difficulty {
        margin-left: 0;
    }

    .date {
        font-size: calc(9px + 1 * (100vh / 1280));
        width: 61px;
    }

    .site * {
        font-size: calc(11px + 1 * (100vh / 1280));
    }
    .site .nameSite {
        font-size: calc(11px + 1 * (100vh / 1280));
    }
}
